html {
  scroll-behavior: smooth;
}
header {
    /* Photo by Fotis Fotopoulos on Unsplash */
	background-image: url("./img/unsplash.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height:90vh;
}

.project-bg {
    /* Photo by Ron Whitaker on Unsplash */
	background-image: url("./img/ron-whitaker.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:110vh;
}
strong{
	font-weight: normal;
}
.iconb{
	font-size: 2em;
}

.listBW:hover{
	color:white;
	background: #1a1a1a;
}
.grow { 
	transition: all .5s ease-in-out;
}
.grow:hover{ 
	transform: scale(0.95);
	border-radius: 20%;
	border: solid 2px #4BBF73;
}
.error-message{
	margin-top: -4em ! important;
	margin-bottom: 4em !important;
}